{% load static %}
<footer class="ftco-footer ftco-bg-dark ftco-section">
  <div class="container">
    <div class="row mb-5 d-flex justify-content-between">

      <!-- Domaines de pratique -->
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Domaines de pratique</h2>
          <ul class="list-unstyled">
            <li><span class="py-1 d-block" style="color: #2de35a8a;"><span class="ion-ios-arrow-forward mr-3"></span>Droit civil</span></li>
            <li><span class="py-1 d-block" style="color: #2de35a8a;"><span class="ion-ios-arrow-forward mr-3"></span>Droit commercial</span></li>
            <li><span class="py-1 d-block" style="color: #2de35a8a;"><span class="ion-ios-arrow-forward mr-3"></span>Droit du travail</span></li>
            <li><span class="py-1 d-block" style="color: #2de35a8a;"><span class="ion-ios-arrow-forward mr-3"></span>Droit de la famille</span></li>
            <li><span class="py-1 d-block" style="color: #2de35a8a;"><span class="ion-ios-arrow-forward mr-3"></span>Droit immobilier</span></li>
            <li><span class="py-1 d-block" style="color: #2de35a8a;"><span class="ion-ios-arrow-forward mr-3"></span>Droit des affaires</span></li>
          </ul>
        </div>
      </div>

      <!-- Heures d'ouverture -->
      <div class="col-md-3">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Heures d'ouverture</h2>
          <div class="opening-hours">
            <h4>Jours ouvrables :</h4>
            <p class="pl-3">
              <span>Lundi – Vendredi : 09h à 20h</span><br>
              <span>Samedi : 09h à 17h</span>
            </p>
            <h4>Repos :</h4>
            <p class="pl-3">
              <span>Dimanche</span><br>
              <span>Jours fériés officiels</span>
            </p>
          </div>
        </div>
      </div>

      <!-- Contact -->
      <div class="col-md-4">
        <div class="ftco-footer-widget mb-4">
          <h2 class="ftco-heading-2">Une question ?</h2>
          <div class="block-23 mb-3">
            <ul>
              <li>
                <span class="icon icon-map-marker"></span>
                <span class="text">TOGO – Lomé, Tokoin Gbadago</span>
              </li>
              <li>
                <a href="tel:+22891462026">
                  <span class="icon icon-phone"></span>
                  <span class="text">+228 91 46 20 26</span>
                </a>
              </li>
              <li>
                <a href="mailto:foyaktogo@gmail.com">
                  <span class="icon icon-envelope"></span>
                  <span class="text">foyaktogo@gmail.com</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <p>
          Copyright &copy; <script>document.write(new Date().getFullYear());</script> Tous droits réservés | FOYAK TOGO
        </p>
        <p>
          <a href="{% url 'admin_login' %}" class="text-muted small"><i class="icon-lock mr-1"></i> Espace Client</a>
        </p>
      </div>
    </div>

  </div>
</footer>